@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, my name is Mihails and this is my Test App for .NET Blazor!</h1>

<p>
    I am a software developer with 3 years of experience in developing and maintaining Azure - Salesforce integrations
    for enterprise-level customers and Azure - Third-party applications. My key expertise is creating integration
    projects from scratch, developing new solutions for existing integrations, configuring Salesforce instances, as well
    as developing solutions for existing ones. I took part in the development of 25 successful products shipped by our
    team.
</p>

<p>
    Currently, I am learning Blazor and trying to implement some stuff to improve my knowledge. Thank you!
</p>

<p>
    By the way, it's me 😅:
</p>

<img src="https://scontent.fbhx1-1.fna.fbcdn.net/v/t1.6435-9/66767019_1282780941885681_2328762032741941248_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=7a1959&_nc_ohc=ZzTJJrTTeS0AX9TUlxb&_nc_ht=scontent.fbhx1-1.fna&oh=00_AfD8_u_7_P_xDzxLdwGWVjP9cdiL0We9Nma9gvxrbjTAeg&oe=65871A34" alt="" style="max-width: 25%;" />

<p></p>
<p>
    And this is my cat:
</p>

<img src="https://scontent.fbhx1-1.fna.fbcdn.net/v/t39.30808-6/335073907_603119541333610_386343172357707016_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=3v0-_RJoiVcAX8WjJkW&_nc_oc=AQl7OH3FIi-zDCv3OF-3zOoK4jMNyyc_16A_LT5dRRGeavwiB6z092AzLLSsR32w7Ds&_nc_ht=scontent.fbhx1-1.fna&oh=00_AfBPSZT3F9tolz3_AHeAdKYMHCyPjFf9lrT8YqSMqcCiGQ&oe=6564F14B" alt="" style="max-width: 25%;max-height: 25%;" />